[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"

[dev-packages]
blender-addon-tester = "*"
pytest = "*"
black = "*"
pytest-cov = "*"
coverage = "*"
codespell = "*"
pydocstyle = "*"

[requires]
python_version = "3.8"
